
<div class="payment-container">
    <div class="payment-header">
        <h1>
            <%= title %>
        </h1>
    </div>
    <div class="container-payment">
      <% orders.forEach((order) => { %>
      <div class="order">
        <div class="order-summary">
          <h2>Order ID: <span><%= order._id %></span></h2>
          <p>Staff in Charge: <span><%= order.staff_in_charge.name %></span></p>
          <p>Status: <span class="status"><%= order.status %></span></p>
          <p>Total Amount: <span>$<%= order.total_amount.toFixed(2) %></span></p>
        </div>
  
        <h3>Order Items</h3>
        <div class="order-items">
          <% order.details.forEach((item) => { %>
          <div class="item">
            <p><strong>Dish:</strong> <%= item.dish.name %></p>
            <p><strong>Price:</strong> $<%= item.dish.price.toFixed(2) %></p>
            <p><strong>Quantity:</strong> <%= item.quantity %></p>
            <p><strong>Subtotal:</strong> $<%= (item.dish.price * item.quantity).toFixed(2) %></p>
          </div>
          <% }); %>
        </div>
      </div>
      <form action="/payment/pay-with-cash" method="POST" id="payWithCashForm">
        <input type="hidden" name="orderId" value="<%= order._id %>" />
        <button type="submit" class="pay-now">Pay with cash</button>
      </form>
          <button class="pay-now zalopay">Pay By Zalo</button>
      <% }); %>

</div>