<div class="container-form-add-user">
    <div class="return-buttons">
        <a href="/manage-inventory">Return</a>
    </div>
    <div class="form-add-user">
        <h2>
            Edit Inventory Item
        </h2>
        <form action="/inventory/<%= item._id %>" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= item.name %>" required>
            </div>
            <div>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="<%= item.quantity %>" required>
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" step="0.01" value="<%= item.price %>" required>
            </div>
            <div>
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" value="<%= item.category %>">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description"><%= item.description %></textarea>
            </div>
            <button type="submit">Update Item</button>
        </form>
    </div>
</div>
